<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand px-3" href="">
      <img src="/assets/School Logo_Nero AI_Photo_Face.png" width="50px" alt="SJV">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" href="#">News</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" href="#">Prefects Guild</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" href="#">Gallery</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" href="#">About us</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link active" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
