<app-navbar></app-navbar>
<div class="container-fluid main-hero">
  <div class="d-flex justify-content-center justify-content-sm-start align-items-center h-100">
    <div data-aos="fade-right" class="hero-inside"><p class="">Let's protect truth, justice and fairness.</p></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row home-features p-3 text-center">
    <div class="col-sm-3">test1
    </div>
    <div class="col-sm-3">test2</div>
    <div class="col-sm-3">test3</div>
    <div class="col-sm-3">test4</div>
  </div>
</div>
