<app-navbar></app-navbar>
<div class="container-fluid main-hero">
  <div class="d-flex justify-content-center justify-content-sm-start align-items-center h-100">
    <div data-aos="fade-right" class="hero-inside"><p class="">Let's protect truth, justice and fairness.</p></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row home-features p-5 text-center">
    <div class="col-sm-3 features-wrapper">
      <h4 class="features-title">2000</h4>
      <p class="features-subtitle">Students</p>
      <p class="features-txt">Currently studying</p>
    </div>
    <div class="col-sm-3 features-wrapper">
      <h4 class="features-title">200</h4>
      <p class="features-subtitle">Teachers</p>
      <p class="features-txt">Currently teaching</p>
    </div>
    <div class="col-sm-3 features-wrapper">
      <h4 class="features-title">5</h4>
      <p class="features-subtitle">Main steams</p>
      <p class="features-txt">A/L Subject steams</p>
    </div>
    <div class="col-sm-3 features-wrapper">
      <h4 class="features-title">90%</h4>
      <p class="features-subtitle">Students</p>
      <p class="features-txt">O/L Pass ratio</p>
    </div>
  </div>
</div>
